@mixin rhomb_gradient {
    // width: 70.7%;
    // height: 70.7%;
    transform: rotate(45deg);
    background: linear-gradient(#FF3333, #FF333300);
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin title {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    line-height: 130%;
}